@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@300;500&display=swap");
.news {
  width: 100%;
  padding: 0em 5em 5em 5em;
}

.news__col1 {
  width: 50%;
}

.news__col2 {
  width: 50%;
  background-color: #D9D9D9;
  padding: 10em 5em 10em 5em;
  border-style: solid;
  border-color: blue;
  border-width: 0px 10px 0px 0px;
}

.news__img {
  float: right;
  width: 100%;
}

.news__newshead {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #292929;
}

.news__news-minutes-head {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #292929;
  padding-top: 20px;
}

.montserrat-list-news {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: black;
}

.news__button {
  background-color: #004BAC;
  border: none;
  color: #094DA2;
  padding: 15px 32px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.news__button:visited {
  color: white;
}

@media only screen and (max-width: 768px) {
  .news {
    display: flex;
    flex-direction: column;
    padding: 2em;
  }
  .news__col1 {
    width: 100%;
  }
  .news__col2 {
    width: 100%;
    padding: 5em 2em 5em 2em;
  }
}
@media only screen and (max-width: 425px) {
  .news__news-minutes-head {
    font-size: 30px;
  }
  .news__newshead {
    font-size: 30px;
  }
}
.hero-banner {
  background-image: url(assets/images/herobanner.png);
  background-size: cover;
  padding: 5em;
}

.hero-banner__head {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  font-weight: 500;
  line-height: 88px;
  color: white;
}

.hero-banner__col1 {
  width: 60%;
}

.hero-banner__col2 {
  width: 40%;
}

.hero__form-title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  width: 100%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.hero__form-btn-container {
  width: 100%;
  justify-content: end;
}

button {
  background-color: #094DA2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  padding: 10px;
  margin-right: 10px;
  float: right;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
/* About */
.about {
  padding: 7em;
}

.about__wrap {
  align-items: center;
}

.about__col1 {
  width: 50%;
  height: 100%;
}

.about__col2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__col1__head {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 30px;
  color: black;
}

.about-col1__intro {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  padding-top: 20px;
  color: black;
}

.about__img {
  border-style: solid;
  color: blue;
  border-width: 0px 0px 0px 10px;
}

/* Card Section */
.card-section {
  padding-bottom: 2.5em;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-wrapper__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.card-section__head {
  text-align: center;
  color: black;
  font-size: 31px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.card__description {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #525252;
}

.comment__description {
  padding: 20px;
}

.card__user-description {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 29px;
  color: #525252;
  text-align: left;
}

.card__user-name {
  margin: 0px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #6223DB;
}

.card-section__info {
  text-align: center;
  font-size: 16px;
  color: black;
}

.card-wrapper__card {
  border-radius: 20px;
  margin: 20px;
  padding: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  width: 30%;
}

.comment__name {
  font-size: 18px;
  color: #036F33;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

.comment-wrapper {
  width: 100%;
}

/* info */
.info-section__heading {
  text-align: center;
  color: white;
  font-size: 47px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #004BAC;
  padding: 10vh;
}

.info-section__information {
  color: white;
  text-align: center;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 172%;
  padding: 20px 0px 20px 0px;
}

.info-section__button {
  background-color: white;
  border: none;
  color: #094DA2;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "AirFactoryRounded", sans-serif;
  text-decoration: none;
}

/* services */
.services {
  padding: 7em;
}

.services__head {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #094DA2;
  text-align: center;
}

.services__subhead {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #525252;
}

.services__card-wrapper {
  width: 100%;
  -moz-column-gap: 30px;
       column-gap: 30px;
  flex-wrap: wrap;
}

.services__firstcard {
  background: #D9D9D9;
  padding: 100px 20px 100px 20px;
  width: 20%;
}

.services__secondcard {
  background: #D9D9D9;
  padding: 100px 20px 100px 20px;
  width: 20%;
}

.services__thirdcard {
  background: #D9D9D9;
  padding: 100px 20px 100px 20px;
  width: 20%;
}

.services__fourthcard {
  background: #D9D9D9;
  padding: 100px 20px 100px 20px;
  width: 20%;
}

.services__icon-container {
  width: 20%;
}

.services__title-container {
  width: 80%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #094DA2;
}

.services__desc {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-top: 20px;
  color: #094DA2;
}

.services__link {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #094DA2;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

a:visited {
  color: #094DA2;
}

.map__container-nav-description {
  display: flex;
  flex-direction: column;
}

/* map section */
.map {
  padding: 0px;
  margin: 0px;
}

.map__info-col1 {
  background-color: #004BAC;
  width: 50%;
  padding: 5em;
}

.map__navigation {
  padding: 0px;
}
.map__navigation li {
  display: flex;
  list-style-type: none;
  border-color: transparent;
  color: white;
}
.map__navigation ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: start;
  margin: 0px;
  padding: 30px 0px 30px 0px;
}
.map__navigation a {
  color: white;
  text-decoration: none;
}

.map__logo {
  width: 40%;
}

.map__location-col2 {
  width: 50%;
}

.map__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #D9D9D9;
}

.map__credits {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #D9D9D9;
}

.map__credits-copy {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #D9D9D9;
  display: none;
}

iframe.location__iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  /* Hero Banner */
  .hero-banner {
    display: flex;
    flex-direction: column;
  }
  .hero-banner__col1 {
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
  .hero-banner__col2 {
    width: 100%;
  }
  .hero-banner__head {
    font-size: 38px;
  }
  /* About */
  .about {
    padding: 0px;
  }
  .about__img {
    width: 100%;
  }
  .about__wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .about__col1 {
    width: 100%;
    text-align: center;
    padding: 2em;
  }
  .about__col2 {
    width: 100%;
    padding: 0px;
  }
  /* Cards */
  .card-wrapper__card {
    width: 100%;
  }
  /* Services */
  .services {
    padding: 5px;
  }
  .services__firstcard {
    width: 45%;
    margin: 5px;
  }
  .services__secondcard {
    width: 45%;
    margin: 5px;
  }
  .services__thirdcard {
    width: 45%;
    margin: 5px;
  }
  .services__fourthcard {
    width: 45%;
    margin: 5px;
  }
  .services__card-wrapper {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
  /* Map */
  .map {
    display: flex;
    flex-direction: column-reverse;
  }
  .map__info-col1 {
    width: 100%;
    padding: 2em;
  }
  .map__location-col2 {
    width: 100%;
  }
  iframe.location__iframe {
    width: 100%;
    height: 400px;
  }
  .map__container-nav-description {
    display: flex;
    flex-direction: column-reverse;
  }
  .map__credits-copy {
    display: block;
    text-align: center;
  }
  .map__credits {
    display: none;
  }
  .map__info-col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .map__description {
    text-align: center;
  }
  .map__navigation {
    padding: 0px;
  }
  .map__navigation li {
    padding: 10px;
  }
  .map__navigation ul {
    flex-direction: column;
    align-items: center;
  }
  .map__navigation a {
    color: white;
    text-decoration: none;
  }
}
@media only screen and (max-width: 425px) {
  .hero-banner {
    padding: 1em;
  }
  /* About */
  .hero__form-btn-container {
    display: flex;
    justify-content: start;
  }
  .hero__form-title {
    font-size: 20px;
  }
  .about__col1__head {
    font-size: 38px;
  }
  .about__col1 {
    padding: 2em 1em 2em 1em;
  }
  /* Card */
  .card-section__head {
    font-size: 38px;
  }
  .card-section {
    padding: 2em;
  }
  .card-wrapper__card {
    margin: 0px 0px 2em 0px;
    padding: 20px;
  }
  /* Information */
  .info-section {
    padding: 2em 1em 2em 1em;
  }
  /* Services */
  .services {
    padding-top: 5em;
  }
  .services__head {
    font-size: 27px;
  }
  .services__subhead {
    font-size: 9px;
    line-height: 19px;
  }
  .services__firstcard {
    width: 100%;
    margin: 0px 2em 2em 2em;
  }
  .services__secondcard {
    width: 100%;
    margin: 0px 2em 2em 2em;
  }
  .services__thirdcard {
    width: 100%;
    margin: 0px 2em 2em 2em;
  }
  .services__fourthcard {
    width: 100%;
    margin: 0px 2em 2em 2em;
  }
  /* Map */
  .map__logo {
    width: 80%;
  }
}
@font-face {
  font-family: "AirFactoryRounded";
  src: url("./assets/fonts/AirFactoryRounded.ttf");
}
@font-face {
  font-family: "AirFactoryRounded";
  src: url("../fonts/AirFactoryRounded.ttf");
}
button.btn.btn-light {
  display: none;
}
@media only screen and (max-width: 768px) {
  button.btn.btn-light {
    display: block;
    position: absolute;
    width: 50px;
    top: 54px;
    right: 10px;
  }
}

.offcanvas-header {
  padding-top: 5em;
}

header {
  width: 100%;
  font-family: "AirFactoryRounded", Serif;
  font-size: 27px;
}
header .site-icon {
  height: auto;
  max-width: 250px;
}
header .site-title {
  margin: 0;
  padding: 0;
}
header .site-branding {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem 0;
}
header nav {
  width: 100%;
}
header nav ul, header nav li {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
header nav a:visited {
  color: black;
}
header nav li {
  display: flex;
  list-style-type: none;
  border-color: transparent;
}
header nav li.current_page_item > a {
  background-color: #004BAC;
  color: white;
}
header nav li > a {
  text-decoration: none;
  padding: 30px 5px 30px 5px;
  color: black;
}

header#masthead {
  display: flex;
}

.site-branding {
  width: 40%;
}
@media only screen and (max-width: 768px) {
  .site-branding {
    width: 90%;
  }
}

.hamburger-menu {
  width: 60%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .hamburger-menu {
    width: 10%;
  }
}

.nav__logo {
  width: 283px;
  height: 52px;
}

@media only screen and (max-width: 768px) {
  div#primary-menu {
    display: none;
  }
}

.main-navigation-burger {
  padding: 0px;
}
.main-navigation-burger li {
  padding: 10px;
  list-style: none;
}
.main-navigation-burger li:hover {
  padding: 10px;
  list-style: none;
  background-color: #004BAC;
}
.main-navigation-burger ul {
  flex-direction: column;
  align-items: center;
  margin: 0px;
}
.main-navigation-burger a {
  color: black;
  text-decoration: none;
}

.footer-section {
  display: flex;
  background-color: #C1C1C1;
  padding: 1em 7em 1em 7em;
  margin-bottom: -30px;
}

.footer-section__col1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.footer-section__co2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
}

.footer-icon {
  height: auto;
  max-width: 200px;
}

.info-footer {
  font-size: 25px;
}

hr.solid-line {
  border-top: 0.5px solid #bbb;
}

.copy-right {
  font-family: "AirFactoryRounded", sans-serif;
  text-align: center;
}

.footer__credits {
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 4 0;
  font-size: 12px;
  color: white;
  margin: 0px;
}

.footer__navigation {
  padding: 0px;
}
.footer__navigation li {
  display: flex;
  list-style-type: none;
  border-color: transparent;
  color: white;
}
.footer__navigation ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: start;
  margin: 0px;
  padding: 30px 0px 30px 0px;
  text-align: right;
}
.footer__navigation a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .footer-section {
    display: flex;
    flex-direction: column;
  }
  .footer-section__col1 {
    width: 100%;
  }
  .footer__navigation {
    padding: 0px;
  }
  .footer__navigation li {
    display: flex;
    list-style-type: none;
    border-color: transparent;
    color: white;
    padding: 10px;
  }
  .footer__navigation ul {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 30px;
         column-gap: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer__navigation a {
    color: white;
    text-decoration: none;
  }
  .footer__credits {
    text-align: center;
  }
}
body {
  font-family: "AirFactoryRounded", sans-serif;
  margin: 0;
  padding: 0;
}

/* ====================================================================================================================== */
/*                                                    CLASSES                                                             */
/* ====================================================================================================================== */
.flex {
  display: flex;
}

.flex-display-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-display-start {
  display: flex;
  align-items: center;
  justify-content: start;
}/*# sourceMappingURL=style.css.map */