@import "home";
@import "about";
@import "variables";
@import "header";
@import "footer";


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@300;500&display=swap');

body {
  font-family: 'AirFactoryRounded', sans-serif;
  margin: 0;
  padding: 0;
}

/* ====================================================================================================================== */
/*                                                    CLASSES                                                             */
/* ====================================================================================================================== */

.flex{
  display: flex;
}

.flex-display-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-display-start {
  display: flex;
  align-items: center;
  justify-content: start;
}